.hero-section {
  position: relative;
  height: 60vh; /* Altezza della sezione */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden; /* Per contenere l'immagine */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.5); /* Overlay scuro per leggibilità del testo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section h2 {
  font-size: 3em;
  margin-bottom: 15px;
  color: white; /* Per assicurare che il titolo sia bianco sull'overlay */
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero-section .button {
  background-color: #dd2f8a; /* Giallo brillante per CTA */
  color: white; /* Testo scuro sul bottone */
  padding: 35px 60px; /* AUMENTATO: da 15px 30px a 25px 50px */
  font-size: 2em; /* AUMENTATO: da 1.3em a 1.8em */
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  margin: auto; /* Per centrare il bottone */
}

.hero-section .button:hover {
  background-color: #dd2f8971; /* Giallo più scuro all'hover */
}

@media (max-width: 768px) {
  .hero-section {
    height: 50vh;
  }
  .hero-section h2 {
    font-size: 2.2em;
  }
  .hero-section p {
    font-size: 1em;
  }
  .hero-section .button {
    font-size: 1.5em; /* AUMENTATO: da 1.1em a 1.5em */
    padding: 20px 40px; /* AUMENTATO: da 12px 25px a 20px 40px */
    flex-direction: column; /* Per centrare il bottone su mobile */
  }
}