.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.detail-item {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.detail-item:hover {
  transform: translateY(-5px);
}

@media (prefers-color-scheme: dark) {
  .detail-item {
    background-color: #dd2f8a;
    transition-duration: 1s;
  }
}

#luogo:hover {
  color: #f0afcf93; /* Verde per il testo del luogo */
  font-weight: bold;
}

#spazioDettagli {
  margin-top: 100px; /* Spazio tra l'onda superiore e il titolo */
  margin-bottom: 100px; /* Spazio tra il titolo e i dettagli */
}
.detail-item h3 {
  color: #f0afcf; /* Verde per i titoli dei dettagli */
  margin-bottom: 10px;
  font-size: 1.5em;
}

.detail-item p {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #f0afcf;
}

@media (prefers-color-scheme: dark) {
  .detail-item p {
    color: #f0afcf;
  }
}