/* Stili specifici per il layout generale dell'App */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 60px 0;
  text-align: center;
}

.section:nth-child(even) {
  background-color: #f0f0f0; /* Sfondo leggermente diverso per sezioni alterne */
}

@media (prefers-color-scheme: dark) {
  .section:nth-child(even) {
    background-color: #2b2b2b;
  }
}